body {
  background: url("./image/background.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  gap: 25px;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.wrapper p {
  margin: 0;
}

.key-container {
  flex: 1 1 0;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0, 0.5);
  border: 4px solid black;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.key-container .keyname {
  color: white;
  font-size: 2.5rem;
}

.key-container .soundname {
  color: #ffc600;
  font-size: 0.6rem;
}
